# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
        language_version: python3
        exclude: \.csv$
    -   id: end-of-file-fixer
        language_version: python3
    -   id: check-yaml
        language_version: python3
    -   id: check-added-large-files
        language_version: python3
        args: ['--maxkb=15000']
    -   id: fix-byte-order-marker
        language_version: python3
    -   id: check-case-conflict
        language_version: python3
    -   id: check-json
        language_version: python3
    -   id: mixed-line-ending
        language_version: python3

-   repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
    -   id: black
        language_version: python3

-   repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black]
        language_version: python3

-   repo: https://github.com/timothycrosley/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        args: ["--profile", "black"]
        language_version: python3

-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    - id: flake8
      language_version: python3

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        language_version: python3
        args: [--py37-plus]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        language_version: python3
        additional_dependencies:
          - types-requests
