[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bln = ">= 2.3.14"
click = "*"
jellyfish = "*"
marshmallow = "*"
retry2 = "*"
exceptiongroup = "*"
tomli = "*"

[dev-packages]
black = "*"
blacken-docs = "*"
certifi = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
isort = "*"
mypy = "*"
myst-parser = "*"
pre-commit = "*"
pytest = "*"
pytest-vcr = "*"
setuptools-scm = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-click = "*"
twine = "*"
types-requests = "*"
urllib3 = "*"
vcrpy = "*"
zipp = "*"
pytest-cov = "*"

[requires]
python_version = "3.14"
